:root{
    --tittles-50: #f9f6f9;
--texts-100: #da0da0;
--thistle-200: #ecdee9;
--HeaderAndCarts--300: #d7b8cf;
--button-500: #b480a4;
--Fondo-600: #9e648a;
}

body.dark-theme {
    --tittles-50: #0808f78c;
    --texts-100: #0f020c;
    --thistle-200: #ecdee9;
    --HeaderAndCarts--300: #0caeee;
    --button-500: #80a8b4;
    --Fondo-600: #64959e;
}


body{
    background-color: var(--Fondo-600);
    position: relative;
}
.welcome-screen{
    margin-top: 8em;
}
.form-control{
    width: 100%;
    max-width: 20em;
    color: var(--texts-100);
}
.form-label{
    color: var(--tittles-50);
}
.navbar{
    padding: .5rem;
    background-color: var(--HeaderAndCarts--300);
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.conte{
    gap: 1em;
}
.lu{
display: none;
}
.luntel{
    font-size: 1.5em;
    color: var(--Fondo-600);
    list-style: none;
    cursor: pointer;
}
.logo2 {
    display: none;
}
.logo1 > img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}
.logo1 > h4 {
    display: none;
}
.logo2 > img {
    width: 3.4em;
    height: 3em;
    border-radius: 50%;
    border: 2.5px solid var(--Fondo-600);
}
.logo2 > h4 {
    font-size: 15px;
    color: var(--Fondo-600);
    font-weight: 500;
}
.nav-item > a {
    font-size: 1.3rem;
    color: var(--Fondo-600);

}
.nav-item > a:hover{
    color: var(--cardo-100);
}
.form{
    background-color: var(--cardo-300);
    max-width: 30rem;
    position: absolute;
    right: 0;
    padding: 2em;
    display: none;
    transition: display 2000ms ease;
}
.exi{
    color: var(--Fondo-600);
    cursor: pointer;
}
.btn-ss{
    background-color: #6f455e;
    width: 100%;
}
.button {
    display: flex;
    text-align: center;
    position: absolute;
    right: 0;
    margin-right: 3em;
    border: none;
    padding: 1em;
    background-color: var(--button-500);
    border-radius: 0px 0px 14px 14px;
    color: #ecdee9;
}
.butto{
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: .5em 0em 0em .5em;
    background-color: var(--HeaderAndCarts--300);
    color: var(--Fondo-600);
}
select{
    border: none;
    border-radius: 0em .5em .5em 0px;
    width: 4em;
    background-color: var(--HeaderAndCarts--300);
    color: var(--Fondo-600);
    cursor: pointer;
}
.form{
    border-left: 3px solid var(--Fondo-600);
}
.container {
    background-color: var(--HeaderAndCarts--300);
    padding: 5em;
}
.col-md-6 > h1{
    font-size: 24px;
    color: var(--tittles-50);
}
.col-md-6 > h1 > span{
    font-size: 24px;
    color: var(--texts-100);
}

.display-4 {
    color: var(--tittles-50);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.mt-3 {
    margin-top: 1rem;
    color: var(--texts-100);
}

.img-fluid {
    width: 100%;
    border-radius: 1rem;
    border: 10px solid black;
}

.text-center {
    text-align: center !important;
}

#nosotros{
    color: var(--texts-100);
}
.title{
    color: var(--tittles-50);
}
.text{
    color: var(--texts-100);
}



.cont {
    width: 100%;
    max-width: 70em; 
}




.Footer_dad {
left: 0;
bottom: 0;
width: 100%;
background: var(--HeaderAndCarts--300);
padding: 20px;
box-sizing: border-box;
margin-top: 5em;
}

.dad_footer {
display: flex;
gap: 3rem;
font-size: 12px;

}

.Footer_hijo1 img {
display: none;
}

.hijo2 {
display: none;
}
.hijo2 > h2{
font-size: 1.5rem;
color: var(--tittles-50);
}

.hijo2 p {
text-align: center;
font-size: 17px;
padding: 0em 3em 3em 3em;
color: var(--texts-100);
}

.Footer_hijo3 {
display: flex;
flex-direction: column;
align-items: center;
margin-left: -3em;
}
.hijo3_h2{
font-size: 1.5rem;
color: var(--tittles-50);
}

.Footer_hijo3 ul {
display: flex;
list-style: none;
gap: 3rem;
font-size: 1em;
padding: 0;
margin: 0;
height: 8em;
align-items: center;
}

.Footer_hijo3 > ul > li > a > i {
font-size: 2.5em;
color: var(--texts-100);
}

.Copyright {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
margin-top: 20px;
color: var(--tittles-50);
}
.Copyright > h4 {
    font-size: 1em;
    font-weight: 700;
}










@media (min-width: 768px) {
    .luntel{
        display: none;
    }
    .luntel > i {
        cursor: pointer;
        color: var(--Fondo-600);
    }
    .lu{
        display: block;
    }
    .logo2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left:5em;
    }
    .logo1 {
        display: none;
    }
    .conte{
        gap: 6em;
        margin-right: 3em;
    }
    


.Footer_dad {
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--HeaderAndCarts--300);
    padding: 20px;
    box-sizing: border-box;
    margin-top: 5em;
}
.dad_footer {
    display: flex;
    gap: 3rem;
    font-size: 12px;

}

.Footer_hijo1 img {
    display: block;
    width: 10em;
    border-radius: 1rem;
    border: 2px solid var(--Fondo-600);
    max-width: 100%;
    height: auto;
}

.hijo2 {
    display: block;
    max-width: 50em;
    text-align: center;
}
.hijo2 > h2{
    font-size: 1.5rem;
    color: var(--tittles-50);
}

.hijo2 p {
    text-align: center;
    font-size: 17px;
    padding: 0em 3em 3em 3em;
    color: var(--texts-100);
}

.Footer_hijo3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hijo3_h2{
    font-size: 1.5rem;
    color: var(--tittles-50);
}

.Footer_hijo3 ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    font-size: 1em;
    padding: 0;
    margin: 0;
    height: 8em;
    align-items: center;
}

.Footer_hijo3 > ul > li > a > i {
    font-size: 2.5em;
    color: var(--texts-100);
}

.Copyright {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    color: var(--tittles-50);
}
}